services:
  twitch:
    depends_on:
      - database
    build: twitch
    ports:
      - 8000:3000
      - 8004
    secrets:
      - twitch-secrets.json
    env_file:
      - twitch/secrets/.env
    networks:
      - paintbot
  discord:
    build: discord
    ports:
      - 8001
    secrets:
      - discord-secrets.json
    networks:
      - paintbot
  database:
    build: database
    secrets:
      - paintbot-3e5d5b0e2fe3.json
      - database-secrets.json
    ports:
      - 8002
    networks:
      - paintbot
networks:
  paintbot:
    driver: bridge
secrets:
  twitch-secrets.json:
    file: twitch/secrets/twitch-secrets.json
  discord-secrets.json:
    file: discord/secrets/discord-secrets.json
  paintbot-3e5d5b0e2fe3.json:
    file: database/secrets/paintbot-3e5d5b0e2fe3.json
  database-secrets.json:
    file: database/secrets/database-secrets.json