services:
  twitch:
    depends_on:
      - database
    build: 
      context: twitch
      args:
          NODE_ENV: ${NODE_ENV}
    environment:
      - NODE_ENV=${NODE_ENV}
    ports:
      - 8000:3000
      - 8004
    secrets:
      - twitch-secrets
    env_file:
      - twitch/secrets/.env
    networks:
      - paintbot
  discord:
    build: discord
    ports:
      - 8001
    secrets:
      - discord-secrets
    networks:
      - paintbot
  database:
    build: database
    secrets:
      - paintbot-3e5d5b0e2fe3
      - database-secrets
    ports:
      - 8002
    networks:
      - paintbot
networks:
  paintbot:
    driver: bridge
secrets:
  twitch-secrets:
    file: twitch/secrets/twitch-secrets
  discord-secrets:
    file: discord/secrets/discord-secrets
  paintbot-3e5d5b0e2fe3:
    file: database/secrets/paintbot-3e5d5b0e2fe3
  database-secrets:
    file: database/secrets/database-secrets