services:
  twitch:
    build: twitch
    ports:
      - 8000:3000
    secrets:
      - twitch-secrets.json
    env_file:
      - twitch/secrets/.env
  discord:
    build: discord
    ports:
      - 8001
    secrets:
      - discord-secrets.json
secrets:
  twitch-secrets.json:
    file: twitch/secrets/twitch-secrets.json
  discord-secrets.json:
    file: discord/secrets/discord-secrets.json