apiVersion: apps/v1
kind: Deployment
metadata:
  name: database
  labels:
    app: database
spec:
  replicas: 1
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  selector:
    matchLabels:
      app: database
  template:
    metadata:
      labels:
        app: database
      annotations:
        cluster-autoscaler.kubernetes.io/safe-to-evict: 'false'
    spec:
      terminationGracePeriodSeconds: 30
      topologySpreadConstraints:
        - maxSkew: 1
          topologyKey: kubernetes.io/hostname
          whenUnsatisfiable: ScheduleAnyway
          labelSelector:
            matchLabels:
              app: database
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
            - weight: 100
              podAffinityTerm:
                topologyKey: kubernetes.io/hostname
                labelSelector:
                  matchLabels:
                    app: database
      containers:
        - name: database
          image: northamerica-northeast1-docker.pkg.dev/paintbot/paintbot/database:latest
          ports:
            - containerPort: 8002
          readinessProbe:
            httpGet:
              path: '/'
              port: 8002
            initialDelaySeconds: 5
            periodSeconds: 5
            failureThreshold: 3
          livenessProbe:
            httpGet:
              path: '/'
              port: 8002
            initialDelaySeconds: 20
            periodSeconds: 10
            failureThreshold: 3
          startupProbe:
            httpGet:
              path: '/'
              port: 8002
            periodSeconds: 5
            failureThreshold: 30
          volumeMounts:
            - name: database-secrets
              mountPath: /etc/secrets
              readOnly: true
            - name: service-account-key
              mountPath: /etc/service-account
              readOnly: true
          env:
            - name: NODE_ENV
              value: 'production'
            - name: GOOGLE_APPLICATION_CREDENTIALS
              value: '/etc/service-account/key.json'
            - name: INSTANCE_CONNECTION_NAME
              value: 'paintbot:northamerica-northeast1:paintbot-db'
          resources:
            requests:
              memory: '256Mi'
              cpu: '10m'
            limits:
              memory: '256Mi'
              cpu: '25m'
      volumes:
        - name: database-secrets
          secret:
            secretName: database-secrets
        - name: service-account-key
          secret:
            secretName: paintbot-service-account
      restartPolicy: Always
---
apiVersion: v1
kind: Service
metadata:
  name: database
spec:
  selector:
    app: database
  ports:
    - port: 8002
      targetPort: 8002
  type: ClusterIP
