apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: development
resources:
  - ../../base
  - ./configmap.yaml
patches:
  - target:
      kind: Deployment
      name: database
    patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: database
      spec:
        replicas: 1
  - target:
      kind: Deployment
      name: twitch
    patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: twitch
      spec:
        template:
          spec:
            containers:
              - name: twitch
                envFrom:
                  - configMapRef:
                      name: app-config
  - target:
      kind: Deployment
      name: youtube
    patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: youtube
      spec:
        template:
          spec:
            containers:
              - name: youtube
                envFrom:
                  - configMapRef:
                      name: app-config
