apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: development
resources:
  - ../../base
  - ./configmap.yaml
patches:
  - target:
      kind: Deployment
      name: database
    patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: database
      spec:
        replicas: 1
  - target:
      kind: Deployment
      name: database
    patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: database
      spec:
        template:
          spec:
            affinity: null
            containers:
              - name: database
                resources:
                  requests:
                    cpu: "50m"
                    memory: "256Mi"
                  limits:
                    cpu: "50m"
                    memory: "256Mi"
  - target:
      kind: Deployment
      name: twitch
    patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: twitch
      spec:
        template:
          spec:
            containers:
              - name: twitch
                envFrom:
                  - configMapRef:
                      name: app-config
  - target:
      kind: Deployment
      name: youtube
    patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: youtube
      spec:
        template:
          spec:
            containers:
              - name: youtube
                envFrom:
                  - configMapRef:
                      name: app-config
  - target:
      kind: ConfigMap
      name: cloudflared-config
    patch: |-
      apiVersion: v1
      kind: ConfigMap
      metadata:
        name: cloudflared-config
      data:
        config.yaml: |
          tunnel: 24fb2e30-22f3-4d27-9921-cf9771e5dacf
          credentials-file: /etc/cloudflared/credentials/credentials.json
          ingress:
            - hostname: twitchdev.paintbot.net
              service: http://twitch.development.svc.cluster.local:8004
            - hostname: youtubedev.paintbot.net
              service: http://youtube.development.svc.cluster.local:8005
            - service: http_status:404
  - target:
      kind: Deployment
      name: cloudflared
    patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: cloudflared
      spec:
        replicas: 1
