apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: default
resources:
  - ../../base
  - ./configmap.yaml
patches:
  - target:
      kind: Deployment
      name: database
    patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: database
  - target:
      kind: Deployment
      name: twitch
    patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: twitch
      spec:
        template:
          spec:
            containers:
              - name: twitch
                envFrom:
                  - configMapRef:
                      name: app-config
  - target:
      kind: Deployment
      name: youtube
    patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: youtube
      spec:
        template:
          spec:
            containers:
              - name: youtube
                envFrom:
                  - configMapRef:
                      name: app-config
  - target:
      kind: Deployment
      name: cloudflared
    patch: |-
      apiVersion: apps/v1
      kind: Deployment
      metadata:
        name: cloudflared
      spec:
        replicas: 1
  - target:
      kind: ConfigMap
      name: cloudflared-config
    patch: |-
      apiVersion: v1
      kind: ConfigMap
      metadata:
        name: cloudflared-config
      data:
        config.yaml: |
          tunnel: a0ad3788-267a-4aab-b536-7791ed844a44
          credentials-file: /etc/cloudflared/credentials/credentials.json
          ingress:
            - hostname: twitch.paintbot.net
              service: http://twitch.default.svc.cluster.local:8004
            - hostname: youtube.paintbot.net
              service: http://youtube.default.svc.cluster.local:8005
            - service: http_status:404
